## 1. Capitalize
### Convert only first letter of string in upper case.

#### Example-1

In [1]:
info = 'my name is vrushali. my age is 28'
info

'my name is vrushali. my age is 28'

In [2]:
info = info.capitalize()     ## 
print(info)

My name is vrushali. my age is 28

#### For number

In [3]:
age = '28 is my age'    
age

'28 is my age'

In [4]:
age = age.capitalize()        ## Remains same for the string starting with number.
print(age)

28 is my age

#### Example-2

In [5]:
institute = 'welcome to the excelr'
institute

'welcome to the excelr'

In [6]:
institute = institute.capitalize()
print(institute)

Welcome to the excelr

## 2. Casefold
### Converts whole string into lower case letters

#### Example -1

In [7]:
AI = 'Artificial intelligence (AI) is intelligence demonstrated by machines.'
AI

'Artificial intelligence (AI) is intelligence demonstrated by machines.'

In [8]:
AI = AI.casefold()
print(AI)

artificial intelligence (ai) is intelligence demonstrated by machines.

#### Example -2

In [9]:
goal = 'mY GoaL IS To beCoME BEst DaTA SCIeNtIst IN 2022'
goal

'mY GoaL IS To beCoME BEst DaTA SCIeNtIst IN 2022'

In [10]:
goal = goal.casefold()
print(goal)

my goal is to become best data scientist in 2022

## 3. lower
### converts whole string in lower case

In [11]:
sub = 'MY FAVOURITE SUBJECT IS MATH'
sub

'MY FAVOURITE SUBJECT IS MATH'

In [12]:
sub = sub.lower()
print(sub)

my favourite subject is math

## 4. upper
### Converts whole string into upper case

In [13]:
weather = "Today's weather is so cloudy"
weather

"Today's weather is so cloudy"

In [14]:
weather = weather.upper()
print(weather)

TODAY'S WEATHER IS SO CLOUDY

## 5. title
### Converts first letter of each word in upper case of the string.

In [15]:
hobby = 'my hobby is to visit new beautiful locations mostly in winter & rainy season'
hobby

'my hobby is to visit new beautiful locations mostly in winter & rainy season'

In [16]:
hobby = hobby.title()
print(hobby)

My Hobby Is To Visit New Beautiful Locations Mostly In Winter & Rainy Season

## 6. swapcase
### Converts lower case to upper & upper case to lower in the string

In [17]:
websites = 'There are so many websites to learn PYTHON'
websites

'There are so many websites to learn PYTHON'

In [18]:
websites = websites.swapcase()
print(websites)

tHERE ARE SO MANY WEBSITES TO LEARN python

## 7. Center
### It converts string in centered location.

#### Example-1

In [19]:
title = 'Chapter_No_1_Python'
title

'Chapter_No_1_Python'

In [20]:
title_1 = title.center(29)
print(title_1)

     Chapter_No_1_Python

In [21]:
title_2 = title.center(33,'*')
print(title_2)

*******Chapter_No_1_Python*******

#### Example-2

In [22]:
book = 'Wings_of_fire'
book

'Wings_of_fire'

In [23]:
book = book.center(30,'-')
print(book)

--------Wings_of_fire---------

## 8. Count
### show the no. of times the value occurs in string

#### Example-1

In [24]:
news_def='News is information about current events. News is sometimes called "hard news" to differentiate it from soft media.'
news_def

'News is information about current events. News is sometimes called "hard news" to differentiate it from soft media.'

In [25]:
news_def = news_def.count('News')
print(news_def)

2

#### Example - 2

In [26]:
num = '1,2,2,3,5,6,2,8,3,6,9,2,8,9'
num

'1,2,2,3,5,6,2,8,3,6,9,2,8,9'

In [27]:
num = num.count('2')
print(num)

4

## 9. find
### Searches the value & returns the position of the value i.e index number

#### Example - 1

In [28]:
life = 'Life is very Beautiful'
life

'Life is very Beautiful'

In [29]:
life_1= life.find('very')
print(life_1)

8

In [30]:
life_2= life.find('q')
print(life_2)

-1

In [36]:
life.find('is')

5

#### Example-2

In [48]:
numbers = '1,2,3,4,55,6,9,7,36,4,5'
numbers

'1,2,3,4,55,6,9,7,36,4,5'

In [50]:
numbers.find('9')

13

In [52]:
numbers.find('36')

17

## 10. rfind

* The rfind() method finds the last occurrence of the specified value.

* The rfind() method returns -1 if the value is not found.

#### Example - 1

In [55]:
birds = 'Peacock, crow, parrot, crow, sparrow, pigeon, crow'
birds

'Peacock, crow, parrot, crow, sparrow, pigeon, crow'

In [56]:
birds.rfind('crow')

46

In [57]:
birds.find('crow')

9

#### Example-2

In [43]:
plants = 'I love plants & there are so many plants in my home'
plants

'I love plants & there are so many plants in my home'

In [44]:
plants.find('plants') # find

7

In [46]:
plants.rfind('plants') # find in reverse direction i.e last occurance

34

## 11. index || 12. rindex
### If the value is not found, the find() method returns -1, but the index() method will raise an exception(error)

#### Example - 1

In [59]:
car_brands = 'VW, Maruti Suzuki, BMW, Hyundai, Tata, Mahindra, Toyoto, Kia, Honda, Skoda, Tata, BMW'
car_brands

'VW, Maruti Suzuki, BMW, Hyundai, Tata, Mahindra, Toyoto, Kia, Honda, Skoda, Tata, BMW'

In [69]:
print(car_brands.index('Mahindra'))
print(car_brands.index('BMW'))
print(car_brands.rindex('Tata'))
print(car_brands.rindex('BMW'))

39
19
76
82

In [60]:
# Error
print(car_brands.find('benz'))
print(life.index('benz'))

-1

ValueError: substring not found

#### Example-2

In [62]:
flowers = 'Rose, Lily, Tulip, Orchid, Jasmine, Lotus, Rose, Tulip'
flowers

'Rose, Lily, Tulip, Orchid, Jasmine, Lotus, Rose, Tulip'

In [63]:
flowers.index('Rose')

0

In [64]:
flowers.rindex('Rose') # Index the search in reverse direction i.e last occurance

43

In [67]:
print(flowers.rindex('Orchid'))  # Only one occurance here
print(flowers.index('Orchid'))

19
19

## 12. format

#### Example - 1

In [ ]:
Emp_data = 'Emp_name is {}, Emp_iD is {}, Salary is {}'.format('Vrushali' ,93,900000)
print(Emp_data)

In [ ]:
Emp_data_1 = 'Emp_name is {name}, Emp_iD is {no}, Salary is {pay}'.format(name ='Vrushali' ,no=93,pay=900000)
print(Emp_data_1)

In [ ]:
fname = input('Name:')
emp_id = input('ID:')
pay = input('salary:')

print('Emp_name is {}, Emp_Id is {} & salary is {}'.format(fname,emp_id,pay))

#### Example - 2

In [ ]:
ssc_res = 'pass'
hsc_res = 'pass'
ssc_per = input('Percentage_s:')
hsc_per = input('Percentage_h:')
print('My result of 10th is {} & I got {} % also my result of 12th is {} & I got {} %'.format(ssc_res,ssc_per,hsc_res,hsc_per))

## 13. isalpha
### Returns True if all characters in the string are in the alphabet

#### Example - 1

In [ ]:
comp = 'Computer@2015'
comp

In [ ]:
print(comp.isalpha())

#### Example - 2

In [ ]:
social_media = 'Facebook'
social_media

In [ ]:
print(social_media.isalpha())

## 14. isalnum
### Returns True if all characters in the string are alphanumeric

#### Example - 1

In [ ]:
season = 'Rainy123'
season

In [ ]:
print(season.isalnum())

In [ ]:
colour = 'pink'

In [ ]:
print(colour.isalnum())

In [ ]:
value = '1,2,3,4,5,6,7,8,9'
value

In [ ]:
print(value.isalnum())

#### Example - 2

In [ ]:
comp

In [ ]:
print(comp.isalnum())

## 15. isascii

In [ ]:
value

In [ ]:
print(value.isascii())

In [ ]:
colour

In [ ]:
print(colour.isascii())

## 16. isdecimal
### The isdecimal() method returns True if all the characters are decimals (0-9)

In [ ]:
x = '15'
y= '12.5'

In [ ]:
print(x.isdecimal())
print(y.isdecimal())

## 17. isdigit
### The isdigit() method returns True if all the characters are digits, otherwise False

In [ ]:
array = '1,2,3'
array_1 = '100'
array_2 = 'Vrushali'

In [ ]:
print(array.isdigit())
print(array_1.isdigit())
print(array_2.isdigit())

## 18. isidentifier
### A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_).

In [ ]:
game = 'Carrom1_Hocky2_cricket3'
line = 'straight_line'
student = 'Vinit, Kirti, Ramya'
year = '2021'                 ## identifier never start with number or any space

In [ ]:
print(game.isidentifier())
print(line.isidentifier())
print(student.isidentifier())
print(year.isidentifier())

## 19. islower
### The islower() method returns True if all the characters are in lower case, otherwise False

In [ ]:
print(line)
print(game)
print(student)

In [ ]:
print(line.islower())
print(game.islower())
print(student.islower())

## 20. isnumeric
### Returns True if all characters in the string are numeric

In [ ]:
number = '123597'
numbers_1 = '1,2,2,3,5,6,98,5'
numbers_2 = ' 2,2.5,-6,9,58,47,95'
animals = 'Cat, Dog, Cow'

In [ ]:
print(number.isnumeric())
print(numbers_1.isnumeric())
print(numbers_2.isnumeric())
print(animals.isnumeric())

## 21. isprintable
### The isprintable() method returns True if all the characters are printable, otherwise False.
### Example of none printable character can be carriage return(\r) and line feed(\n).

In [ ]:
my_str = 'I am starting to read a new book'
print(my_str.isprintable())

In [ ]:
menu_bar = 'start, edit, file, \nview, \rinsert'
print(menu_bar.isprintable())

In [ ]:
para = '''I am going to talk with John sir 
about doubt tommorow
'''
print(para.isprintable())

## 22. isspace
### The isspace() method returns True if all the characters in a string are whitespaces, otherwise False

In [ ]:
sub_1 = '   marathi   '
sub_2 = 'Data_Science, AI, Python'
sub_3 = '    '

In [ ]:
print(sub_1.isspace())
print(sub_2.isspace())
print(sub_3.isspace())

## 23. istitle
### The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

In [ ]:
Tv = 'I Frequently Watched Tv'
SIRI = 'Get everyday tasks done with just your voice.'

In [ ]:
print(Tv.istitle())
print(SIRI.istitle())

## 24. isupper
### The isupper() method returns True if all the characters are in upper case, otherwise False.

In [ ]:
movies = 'BLACH, DHOOM_3, RRR, KGF_2'
colab = 'Colab is the commonly used abbreviation of the New York City'

In [ ]:
print(movies.isupper())
print(colab.isupper())

## 25. ljust
### The ljust() method will left align the string, using a specified character (space is default) as the fill character.

In [ ]:
lang = 'python'
watch = 'Rolex'

In [ ]:
print(lang.ljust(10), 'is easy to understand ')
print(watch.ljust(10,'-'), 'is my favourite brand')

## 26.rjust
### Returns a right justified version of the string

In [ ]:
print(lang.rjust(10,'*'), 'is easy to understand ')
print(watch.rjust(10), 'is my favourite brand')

## 27. lstrip
### The lstrip() method removes any leading characters (space is the default leading character to remove)

In [ ]:
location = '.....,,,agfsadfu==Andman'
ball = '        Tenis      '

In [ ]:
print(location.lstrip(".,agfsdu="))
print(ball.lstrip())

## 28. rstrip
### The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

In [ ]:
game =' Cricket is my favourite game          '
trainer = 'John is very good trainer----****#dcegbdfgbd**'

In [ ]:
print(game.rstrip())
print(trainer.rstrip('-*#decgbf'))

## 29. maketrans
### Returns the translated string which we replace the alphabet

#### Example - 1

In [ ]:
world = 'Now a days world is going so faster'
world

In [ ]:

world_1

In [ ]:
print(world.translate(world_1))

#### Example -2

In [ ]:
keyboard = 'Keyboard has 105 keys'
keyboard

In [ ]:
Keys = keyboard.maketrans('Kkey105','Hhit216')
Keys

In [ ]:
print(keyboard.translate(Keys))

## 30.partition
### This method searches for the first occurrence of the specified string.

#### Example - 1

In [ ]:
wikipedia = 'Wikipedia is a free online encyclopedia, created and edited by volunteers around the world.'
wikipedia

In [ ]:
print(wikipedia.partition("created"))

#### Example - 2

In [ ]:
my_str = '1,2,3,4,5,6,78,9,55'
my_str

In [ ]:
print(my_str.partition('5'))

## 31. rpartition
### The rpartition() method searches for the last occurrence of a specified string, and splits the string into a tuple.

#### Example - 1

In [ ]:
python_1 = 'Python is a high-level, also python is interpreted, programming language & python invented by Guido van Rossum'
python_1

In [ ]:
print(python_1.rpartition('python'))

#### Example - 2

In [ ]:
alnum = ' 1,a,55,j,89,u,o,j,y,28,v,9,43'
alnum

In [ ]:
print(alnum.rpartition('j'))

## 32. replace
### The replace() method replaces a specified phrase with another specified phrase.

#### Example - 1

In [ ]:
galaxy = 'Milkyway is the galaxy in which our solar_system is exist'
galaxy

In [ ]:
print(galaxy.replace('solar_system','earth'))

#### Example - 2

In [ ]:
nat_num = '1,2,3,5,7,11,13,17,19,23'
nat_num

In [ ]:
print(nat_num.replace("5","29"))

## 33. join
### The join() method takes all items in an iterable and joins them into one string.

In [ ]:
flowers = ('Rose', 'Tulip', "Jasmine", "Hibiscus")
data_types = ('int','float','string')

In [ ]:
print('#'.join(flowers))
print('-'.join(data_types))